# Folders to ignore, whatever the place they are
eclipsebin
.metadata
classes
hybris/bin/**/bin
gensrc
.idea/
.recommenders/
RemoteSystemsTempFiles/

# Folders to ignore at the root of the repository
#
log/
temp/
hybris/data/
licenses/
hybris/sampleconfigurations/

# filter only custom extension
bin/*
!bin/custom/
bin/config/

# Filename patterns to ignore
*~
*.swp
*.log
#*.prefs
*.iml
.DS_Store
.lastupdate
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
base.properties
#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar


README
build-tools/**
c4c-integration/**
datahub-hybrid-adapter/**
hybris-Mobile-Apps-SDK/**
hybris-ems/**
hybris-sbg/**

installer/**
!installer/b2c_dr_idefix/**

hybris/config/**
hybris/bin/ext-**
hybris/bin/platform
hybris/bin/custom/**/jalo/*.java
hybris/bin/custom/**/jalo/**/*.java
hybris/bin/custom/**/addonsrc/
hybris/bin/custom/**/WEB-INF/_ui-src/addons/

hybris/bin/custom/**/*.bak
hybris/bin/custom/**/.externalToolBuilders/HybrisCodeGeneration.launch
hybris/bin/custom/**/eclipsebin/**

hybris/bin/custom/**/lib/*.jar


**/*storefront/web/addontestsrc/**
**/*storefront/web/commonwebsrc/**
**/*storefront/web/testclasses/**
hybris/bin/custom/**/*storefront/web/webroot/_ui/addons/**
hybris/bin/custom/**/*storefront/web/webroot/_ui/responsive/**
hybris/bin/custom/**/*storefront/web/webroot/_ui/desktop/**
**/*storefront/resources/wro_addons.xml

**/drstorefront/web/webroot/_ui/responsive/theme-dr/css/style.css

**/drwebservices/lib/*.jar

**/*storefront/node_modules
hybris/bin/custom/dr/drbackoffice/lib/*.jar
hybris/bin/custom/dr/drcore/src/tr/com/dr/core/jalo/cronjob/*.java
hybris/bin/custom/dr/drcore/src/tr/com/dr/core/jalo/product/*.java
